@font-face {
  font-family: "DankookB";
  font-weight: normal;
  src: url("./fonts/dankook-font.woff") format("woff");
}

@font-face {
  font-family: "PretendardB";
  font-weight: normal;
  src: url("./fonts/pretendard-bold.woff") format("woff");
}

@font-face {
  font-family: "PretendardS";
  font-weight: normal;
  src: url("./fonts/pretendard-semibold.woff") format("woff");
}

@font-face {
  font-family: "PretendardR";
  font-weight: normal;
  src: url("./fonts/pretendard-regular.woff") format("woff");
}

body {
  font-family: "PretendardS", "Apple SD Gothic Neo", sans-serif;
}