.category {
    display: flex;
    align-items: center;
    font-family: PretendardB,sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: -20px;
}

.clicked-category {
    color: #0C1D70;
    cursor: pointer;
}

.unclicked-category {
    color: #A2A2A2;
    cursor: pointer;
}